<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hand Hand Revolution</title>

  <!-- Bootstrap core CSS -->
 <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template -->
    <style>
    header {
    padding: 150px 0 100px;
    margin-top: 50px;
    background-color :#ccf4ff;
    background-image: url("./ASL.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:150px;


      }

  section {
  padding: 150px 0;
  }
</style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Hand Hand Revolution</a>

    </div>
  </nav>

  <header>
      <div class="container text-center"></div>

  </header>

<div class="container">
    <b style="padding-right:30px;"><h3><i>Diversifying AI recognition for American Sign Language (ASL) users, everywhere.</i></h3></b>
   <div class="contentarea" style="padding-top:30px; padding-left: 80px">


    <div class="row">

  <div class="camera col-sm-4" >
    <video id="video" style="border-style:solid">Video stream not available.</video>
    <button type="button" class="btn btn-info" id="startbutton">Take photo</button>
  </div>
  <canvas id="canvas">


  <div class="output col-sm-4">
      <img id="photo" alt="The screen capture will appear in this box."/>
  </div></canvas>

        <div class="col-sm-2"><textarea id="output"></textarea></div>
    </div>


	<p>
		</p>
</div>
</div>


  <section id="upload" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>video/upload</h2>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            <div class="form-group">
               <label for="comment"></label>
               <textarea class="form-control"  placeholder = "Comments" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
               <label for="comment"></label>
               <textarea class="form-control"  placeholder = "Write your intended sign" rows="5" id="comment"></textarea>
            </div>
          </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->

  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>


</body>
<script>
    (function() {

  var width = 320;    // We will scale the photo width to this
  var height = 0;     // This will be computed based on the input stream


  var streaming = false;


  var video = null;
  var canvas = null;
  var photo = null;
  var startbutton = null;

  function startup() {
    video = document.getElementById('video');
    canvas = document.getElementById('canvas');
    photo = document.getElementById('photo');
    startbutton = document.getElementById('startbutton');

    navigator.mediaDevices.getUserMedia({video: true, audio: false})
    .then(function(stream) {
      video.srcObject = stream;
      video.play();
    })
    .catch(function(err) {
      console.log("An error occurred: " + err);
    });

    video.addEventListener('canplay', function(ev){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);

        // Firefox currently has a bug where the height can't be read from
        // the video, so we will make assumptions if this happens.

        if (isNaN(height)) {
          height = width / (4/3);
        }

        video.setAttribute('width', width);
        video.setAttribute('height', height);
        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);
        streaming = true;
      }
    }, false);

    startbutton.addEventListener('click', function(ev){
      takepicture();
      ev.preventDefault();
    }, false);

    clearphoto();
  }

  // Fill the photo with an indication that none has been
  // captured.

  function clearphoto() {
    var context = canvas.getContext('2d');
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);

    var data = canvas.toDataURL('image/png'); //send this string to backend

    photo.setAttribute('src', data);
  }

  // Capture a photo by fetching the current contents of the video
  // and drawing it into a canvas, then converting that to a PNG
  // format data URL. By drawing it on an offscreen canvas and then
  // drawing that to the screen, we can change its size and/or apply
  // other changes before drawing it.

  function takepicture() {
    var context = canvas.getContext('2d');
    if (width && height) {
      canvas.width = width;
      canvas.height = height;
      context.drawImage(video, 0, 0, width, height);

      var data = canvas.toDataURL('image/png');
      console.log(data);
      var xmlHttpReq = false;

  if (window.XMLHttpRequest) {
    ajax = new XMLHttpRequest();
  }
  else if (window.ActiveXObject) {
    ajax = new ActiveXObject("Microsoft.XMLHTTP");
  }

  ajax.open("POST", "/upload", false);
  ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  ajax.onreadystatechange = function() {
    var response = JSON.parse(ajax.responseText);
    console.log(response.custom_classes);
    document.getElementById('output').innerHTML = response.images[0].classifiers[0].classes[0].class;
  }
    ajax.send("imgData=" + data);
      photo.setAttribute('src', data);
    } else {
      clearphoto();
    }
  }

  // Set up our event listener to run the startup process
  // once loading is complete.
  window.addEventListener('load', startup, false);
})();

</script>


</html>
